
{% extends 'app/base.html' %}
{% block content %}

<!-- #これでカスタムテンプレートを追加 -->
{% load custom_filters %}

<form method="get" action="" food="filter_form">

    <div >
<!-- 確認用 -->
CBにある素材のid？：{{q_foodstuffs}}<br>
Q:CBにある素材の数：{{Q_foodstuffs}}<br>
???の数：{{M_foodstuffs}}<br>


???：
{% for food in M_count %}
{{food.match_count}}
{% endfor %}<br>

C:料理に含まれてる素材の数：
{% for food in food %}
{{ food.foodstuffs.count }}
 {% endfor %}<br>



        <div>

            {%  for A in stuff %}
            <div>{{ A.name }}</div>
            <div class="btn-group-toggle" data-toggle="buttons" >
                {% for B in A.foodstuff %}
                    <label class="btn btn-outline-primary {{B.pk | checked:request.GET|yesno:'active,'}}" >
                            <input type="checkbox" 
                             id="filter_foodstuff_{{ B.pk }}" 
                             name="cb_foodstuff" 
                             value="{{ B.pk }}" 
                             autocomplete="off"
                             {{ B.pk | checked:request.GET }} >
                        <!-- カスタムフィルターでcheckedを追加している -->
                               {{ B }}         
                        </label>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <br>
        <div>
                <button id="filter" type="submit" class="btn btn-outline-primary btn-block " >
                 絞り込み　{{ Q }}
                </button>
        </div>
    </div>
</form>

        <div id="main">
                <table>
                    <tr>
                    {% for food in object_list %}
                    <td>     
                        {{ c_foodstuffs }}
                    <button type="button" class="btn btn-primary"> {{ food.name }}</button>
                    </td>    
                    {% endfor %}
                </table>
            </div>

{% endblock %}